<template>
  <div class="view-inbox">
    <EntryList :entries="entries" />
  </div>
</template>
<script>
import EntryList from "@/reader/components/EntryList";

export default {
  name: "Inbox",
  components: {
    EntryList
  },
  computed: {
    entries() {
      return this.$store.getters["inbox/inbox"];
    }
  },
  mounted() {
    this.$store.dispatch("inbox/fetch");
  }
};
</script>
<style lang="scss" scoped>
@import url("../../styles/views/inbox.scss");
</style>
