<template>
  <div class="view-pinned">
    <EntryList :entries="entries" />
  </div>
</template>
<script>
import EntryList from "@/reader/components/EntryList";

export default {
  name: "Pinned",
  components: {
    EntryList
  },
  computed: {
    entries() {
      return this.$store.getters["pinned/pinned"];
    }
  },
  mounted() {
    this.$store.dispatch("pinned/fetch");
  }
};
</script>
<style lang="scss" scoped>
@import url("../../styles/views/pinned.scss");
</style>
