.nav_list
    width 250px
    flex 0

    &--grow
        flex 1

    &__title
        font-weight bold
        padding 10px

    &__items
        border-top 1px solid #c2c2c2
        margin-top 10px

        &--scroll
            overflow-y scroll
            max-height 600px
