[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
envparse = "*"
"argon2-cffi" = "*"
"psycopg2-binary" = "*"
awesome-slugify = "==1.6.5"
bleach = "*"
feedparser = "*"
rq = "*"
django-rq = "*"
gunicorn = "*"
maya = "*"
sentry-sdk = "*"
pocket = "*"
djangorestframework = "*"

[dev-packages]
"flake8" = "*"
model-mommy = "*"
pytest = "*"
pytest-django = "*"
black = "==18.9b0"
pre-commit = "*"
pydocstyle = "*"
pytest-mock = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
