[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
envparse = "*"
"argon2-cffi" = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
awesome-slugify = "==1.6.5"
bleach = "*"
feedparser = "*"
rq = "*"
django-rq = "*"
python-dateutil = "*"
gunicorn = "*"
djangorestframework-jwt = "*"
raven = "*"
django-cors-headers = "*"
maya = "*"

[dev-packages]
"flake8" = "*"
model-mommy = "*"
pytest = "*"
pytest-django = "*"
black = "==18.5b0"
pre-commit = "*"

[requires]
python_version = "3.6"
