<div class="entry_row entry_row--detail">
    <div class="entry_row__body">
        <span class="entry_row__text">'Sekiro' Transforms the Dark Souls Formula into Something New and Risky</span>
        <span class="entry_row__summary">As blades clash and ninjas disappear into puffs of smoke, FromSoftware has once again found something fresh and exciting.</span>
        <div class="entry_row__body__meta">
            <span class="entry_row__feed">Waypoint</span>
            <span class="entry_row__date">20 minutes ago</span>
            <ul class="entry_row__actions">
                <li class="entry_row__actions__action">Pin</li>
                <li class="entry_row__actions__action">Archive</li>
                <li class="entry_row__actions__action">Hide</li>
                <li class="entry_row__actions__action">More</li>
            </ul>
        </div>
    </div>
</div>
