<div class="entry_row entry_row--compact">
    <span class="entry_row__text">'Sekiro' Transforms the Dark Souls Formula into Something New and Risky</span>
    <span class="entry_row__date">20 minutes ago</span>
    <ul class="entry_row__actions">
        <ul class="entry_row__actions">
            <li class="entry_row__actions__action">Pin</li>
            <li class="entry_row__actions__action">Archive</li>
            <li class="entry_row__actions__action">Hide</li>
            <li class="entry_row__actions__action">More</li>
        </ul>
    </ul>
</div>
