<div class="feed_block">
    <div class="feed_block__menu">
        <div class="feed_block__menu__item">
        </div>
        <div class="feed_block__menu__item">
            @@include('../components/feed_icon.html')
        </div>
        <div class="feed_block__menu__item">
            <i class="fas fa-low-vision"></i>
        </div>
    </div>
    <div class="feed_block__entries">
        <div class="feed_block__top">
            <div class="feed_block__heading">
                <h3>Waypoint</h3>
            </div>
            <div class="feed_block__smart_action">
                <i class="fas fa-backspace"></i>
            </div>
        </div>
        @@include('../components/entry_list_detail.html')
    </div>
</div>
