<div class="entry_list {% if show_feed %}entry_list--standalone{% endif %}">
    <div class="entry_list__entries">
        {% for entry in entries %}
            {% if detail %}
                {% include "feeds/components/entry_row_detail.html" with entry=entry feed=entry.feed show_feed=show_feed %}
            {% else %}
                {% include "feeds/components/entry_row_compact.html" with entry=entry feed=entry.feed show_feed=show_feed %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="entry_list__navigate">
        {% if total_entries %}
            <span>{{ total_entries }} remaining...</span>
        {% endif %}
    </div>
</div>
