<nav class="navbar is-black is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'feeds:inbox' %}">
                FeedZero
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                    <a class="navbar-link is-arrowless" href="/">
                        <i class="fas fa-plus"></i>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'feeds:add' %}">
                            Feed
                        </a>
                        <a class="navbar-item" href="/">
                            Rule
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                    <a class="navbar-link is-arrowless" href="/">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="/">
                            My Account
                        </a>
                        <a class="navbar-item" href="/">
                            Billing
                        </a>
                        <a class="navbar-item" href="/">
                            Privacy
                        </a>
                        <a class="navbar-item" href="{% url 'users:logout' %}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
