{% extends "base.html" %}
{% block root %}
    <main
    class="main_content"
    id="main_content">
        <article class="page_content">
            <div class="page_content__inner">
                {% block local_header %}
                    {% include "components/local_header.html" with primary_title=page_title secondary_title=page_subtitle %}
                {% endblock %}
                {% block main %}
                {% endblock %}
            </div>
        </article>
        {% block after_main %}
        {% endblock %}
    </main>
{% endblock %}
