<div class="nav_list">
    <span class="nav_list__title">
        Navigation
    </span>
    <div class="nav_list__items">
        <a class="nav_element nav_element--active" href="{% url "feeds:my_entries" %}">
            <div class="nav_element__icon">
                <i class="fas fa-paper-plane"></i>
            </div>
            <div class="nav_element__text">
                <span>Inbox</span>
            </div>
        </a>
        <a class="nav_element" href="{% url "feeds:pinned_entries" %}">
            <div class="nav_element__icon">
                <i class="fas fa-thumbtack"></i>
            </div>
            <div class="nav_element__text">
                <span>Pinned</span>
            </div>
        </a>
        <a class="nav_element" href="{% url "feeds:saved_entries" %}">
            <div class="nav_element__icon">
                <i class="fas fa-save"></i>
            </div>
            <div class="nav_element__text">
                <span>Saved</span>
            </div>
        </a>
        <a class="nav_element" href="{% url "feeds:archived_entries" %}">
            <div class="nav_element__icon">
                <i class="fas fa-backspace"></i>
            </div>
            <div class="nav_element__text">
                <span>Archived</span>
            </div>
        </a>
    </div>
</div>
