<template>
  <div class="section">
    <div class="app container is-fluid">
      <section class="columns">
        <div class="column is-one-fifth">
          <Sticky>
            <FeedList />
          </Sticky>
        </div>
        <div class="column is-three-fifths primary">
          <router-view />
        </div>
        <div class="column is-one-fifth">
          <Sticky>
            <PrimaryNav />
          </Sticky>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import FeedList from "@/reader/components/FeedList";
import PrimaryNav from "@/reader/components/PrimaryNav";
import Sticky from "@/reader/components/Sticky";

export default {
  name: "App",
  components: {
    FeedList,
    PrimaryNav,
    Sticky
  }
};
</script>
<style lang="scss" scoped>
@import url("../styles/views/app.scss");

.sticky-top {
  // position: fixed;
  // top: 0;
}
</style>
