.entry_row
    display flex
    height 50px
    align-items: center;
    justify-content: center;
    max-width 900px
    width 100%
    border 1px solid #C2C2C2
    border-bottom none
    padding 10px

    &:hover
        & ^[0]__actions
            display flex
        & ^[0]__date
            display none

    &:last-child
    &:only-child
        border-bottom 1px solid #C2C2C2

    &__text
        flex-grow 1
        padding 10px

        a
            color $cl--med

    &__date
        flex-grow 0
        padding 10px

    &__actions
        display none
        list-style none

        &__action
            color #4B4B4B
            margin 15px
            text-shadow: 2px 2px 2px #ccc;

            &:hover
                cursor pointer

    &__tertiary
        color black
