.feed_block
    mt()
    display flex
    width 100%

    &__top
        display flex
        flex-direction row
        align-items center
        height 50px
        width 100%
        margin-bottom 10px

    &__heading
        flex-grow 1
        text-transform uppercase

        h3
            font-weight 700

    &__smart_action
        flex-grow 0
        padding-right 10px

    &__entries
        max-width 900px
        flex-grow 1

    &__menu
        width 70px
        display flex
        align-items center
        flex-direction column
        margin-top 10px

        &__item
            display flex
            height 50px
            align-items: center;
            justify-content: center;
