.inbox
    width 100%

    &__smart
        box-shadow 0 8px 6px -6px #ccc

        &__actions
            display flex
            justify-content space-between
            margin 10px

    &__list
        margin 20px