<template>
  <a class="button-pin button" @click="done">
    <span class="icon is-small">
      <i class="fas fa-archive"></i>
    </span>
    <span>Done</span>
  </a>
</template>
<script>
export default {
  name: "ButtonDone",
  props: {
    entry: {
      type: Object,
      required: true
    }
  },
  methods: {
    async done() {
      await this.$store.dispatch("inbox/persistDone", [this.entry]);
    }
  }
};
</script>
