<template>
  <a class="button-pin button" @click="pin">
    <span class="icon is-small">
      <i class="fas fa-thumbtack"></i>
    </span>
    <span>Pin</span>
  </a>
</template>
<script>
export default {
  name: "ButtonPin",
  props: {
    entry: {
      type: Object,
      required: true
    }
  },
  methods: {
    async pin() {
      await this.$store.dispatch("pinned/persistPin", this.entry);
    }
  }
};
</script>
