<template>
  <section class="entry-list-actions">
    <a class="button" @click="done">
      <span class="icon is-small">
        <i class="fas fa-angle-down"></i>
      </span>
      <span>Done with these {{ entries.length }}.</span>
    </a>
  </section>
</template>
<script>
export default {
  name: "EntryListActions",
  props: {
    entries: {
      type: Array,
      required: true
    }
  },
  methods: {
    done() {
      this.$store.dispatch("inbox/persistDone", this.entries);
    }
  }
};
</script>
