<template>
  <a class="panel-block feed-row">
    <span class="panel-icon">
      <img :src="feed.logo" />
    </span>
    {{ feed.title }}
    <span v-if="feed.unread > 0"> - {{ feed.unread }}</span>
  </a>
</template>
<script>
export default {
  name: "FeedRow",
  props: {
    feed: {
      type: Object,
      required: true
    }
  }
};
</script>
