<template>
  <b-menu>
    <b-menu-list label="Primary">
      <b-menu-item icon="paper-plane" label="Inbox" tag="router-link" to="/"></b-menu-item>
      <b-menu-item icon="thumbtack" label="Pinned" tag="router-link" to="pinned"></b-menu-item>
    </b-menu-list>
  </b-menu>
</template>
<script>
export default {
  name: "PrimaryNav"
};
</script>
