<template>
  <div class="stick is-relative" ref="stickDom">
    <div class="stick__inner" :style="{width: width}">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: "Sticky",

  data() {
    return {
      // TODO: get initial width post-render
      widthVal: 340
    };
  },

  mounted() {
    window.addEventListener("resize", this.handleResize);
  },

  updated() {
    this.handleResize();
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.handleResize);
  },

  methods: {
    handleResize() {
      this.widthVal = this.$refs.stickDom.clientWidth;
    },
  },

  computed: {
    width() {
      return `${this.widthVal}px`;
    }
  }
};
</script>
<style lang="scss" scoped>
.stick {
  &__inner {
    position: fixed;
  }
}
</style>
