<div class="feed_block">
    <div class="feed_block__menu">
        <div class="feed_block__menu__item">
        </div>
        <div class="feed_block__menu__item">
            <a href="{% url "feeds:actions" slug=feed.slug %}">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="feed_block__menu__item">
            <i class="fas fa-low-vision"></i>
        </div>
    </div>
    <div class="feed_block__entries">
        <div class="feed_block__top">
            <div class="feed_block__heading">
                <h3>{{ feed.title }}</h3>
            </div>
            <div class="feed_block__smart_action">
                <form method="post" action="{% url 'feeds:entry_multi_delete' %}">
                    {% csrf_token %}
                    {% for entry in entries %}
                        <input type="hidden" value="{{ entry.pk }}" name="to_delete" />
                    {% endfor %}
                    <button type="submit">
                        <i class="fas fa-backspace"></i>
                    </button>
                </form>
            </div>
        </div>
        {% include "feeds/components/entry_list.html" with entries=entries total_entries=total_entries %}
    </div>
</div>
