{% extends "layouts/contained.html" %}
{% load feed_tags %}

{% block main %}
    <div class="entry_content">
        <div class="entry_content__menu">
            <ul>
                <li>
                    {% pin_button entry %}
                </li>
                <li>
                    {% delete_button entry %}
                </li>
                <li>
                    <a href="{% url 'feeds:entry_pocket' feed_slug=entry.feed.slug entry_slug=entry.slug %}">
                        <i class="fab fa-get-pocket"></i>
                    </a>
                </li>
                <li>
                    {% save_button entry %}
                </li>
                <li>
                    <a href="{% url "feeds:entry_actions" feed_slug=entry.feed.slug entry_slug=entry.slug %}">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="entry_content__body">
            <div class="entry_content__body__meta">
                <ul>
                    <li>Published {{ entry.slang_date_published }}</li>
                    <li>Source: <a target="_blank" href="{{ entry.link }}">{{ entry.link }}</a></li>
                </ul>
            </div>
            {% if enriched|default:False %}
                <img src="{{ entry.enriched.images|first }}" />
                {{ entry.enriched.content|linebreaks }}
            {% else %}
                {{ entry.content|safe }}
            {% endif %}
        </div>
    </div>
{% endblock %}
