<!doctype html>
<html>
    @@include('../includes/global/head.html', {
        "page_title": "Home"
    })
    <body class="home">
        @@include('../includes/page_specific/index/header.html')
        <main
        class="main_content"
        id="main_content">
            <article class="page_content">
                <div class="page_content__inner">
                    <div class="entry_list">
                        @@include('../includes/components/entry_row.html')
                    </div>
                    <hr />
                    @@include('../includes/components/entry_list.html')
                    <hr />
                    @@include('../includes/components/feed_icon.html')
                    <hr />
                    @@include('../includes/components/feed_block.html')
                    <hr />
                    <hr />
                    <hr />
                    @@include('../includes/components/local_header.html')
                    @@include('../includes/components/entry_content.html')
                </div><!-- .page_content__inner -->
            </article><!-- .page_content -->
        </main><!-- .main_content #main_content -->
        @@include('../includes/global/global_footer.html')
    </body><!-- .home -->
</html>
